<h1> This is liquid reference </h1>

{% schema %}
{ 
"name": "Liquid Reference",
"settings": [
    {
        "id": "liquid-ref",
        "type": "text",
        "label": "A reference for shopify liquid"
    }
],
"presets": [
    {
    "name": "Liquid Reference",
    "category": "reference"
    }
    ]
}
{% endschema %}